<div class="map-new">
  <div id='map-frame'></div>
  <div class="map-form-section">
    <h1>Create a New Map</h1>
    
    <%= form_for @map, html: {:class => "map-form"} do |f| %>
      <div class="map-form-field">
        <%= f.label :name %>:
        <%= f.text_field :name %>
      </div>
      
      <div class="map-form-field">
        <%= f.label :starting_latitude %>:
        <%= f.text_field :starting_latitude %>
      </div>
      
      <div class="map-form-field">
        <%= f.label :starting_longitude %>:
        <%= f.text_field :starting_longitude %>
      </div>
      
      <%= f.submit %>
    <% end %>
    
  </div>
</div>

<% content_for :view_javascript do %>

  var mapbox = new mapboxgl.Map({
    container: 'map-frame',
    center: [-117.1630037, 32.71331587],
    zoom: 13,
    style: 'mapbox://styles/mapbox/streets-v9'
  });
  
  var initialMap = new InitialMap(mapbox, 'url(' + '<%= asset_path "marker-small.png" %>' + ')');
  
<% end %>