<!DOCTYPE html>
<html>
<head>
  <title>MapApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/global_header' %>

<%= javascript_tag do %>
  $(document).ready(function () {
    <%= yield :view_javascript %>
  });
<% end %>

<%= yield %>

</body>
</html>
